{% extends "Proyecto_Web_App/base.html" %}
{% load static %}
{% block content %}
<div class="container">

  <div style="float:right;">
    {% if request.user.is_authenticated %}

      {% include "carro/widget.html" %}
  
    {% else %}

      <div class="alert alert-danger text-center">

        Inicia sesión para el carro de compra

      </div>
    
    {% endif %}
  </div>

  <div class="row">
    {% for producto in productos %}
      <div class="col-md-3">
        <div class="card" style="width: 100%; margin: 7px 7px;">
          <img src="{{producto.imagen.url}}" class="card-img-top">
          <div class="card-body" style="text-align: center;">
            <h7 class="card-title">{{producto.nombre}} </h7>
            <p class="card-text">{{producto.precio}} &nbsp;Bs</p>
          </div>

          <div class="card-footer text-center"> <!--bottonn to add products-->
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
          </div>

        </div> <!--close label class'card'-->
      </div> <!--close label class'col'-->
    {% endfor %}
  </div> <!--close label class 'row'-->
</div> <!--close label class 'container'-->
{% endblock %}
